services:
  traefik:
    image: traefik:v3
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--api.insecure=false"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.provider=duckdns"
      - "--certificatesresolvers.letsencrypt.acme.dnschallenge.resolvers=1.1.1.1:53,8.8.8.8:53"

    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - web
    restart: unless-stopped
    environment:
      DUCKDNS_TOKEN: "${DUCKDNS_TOKEN}"


  books-api:
    image: ghcr.io/snnyvrz/shelfshare-books-api:latest
    container_name: shelfshare-books-api
    env_file:
      - .env.prod
    networks:
      - web
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.books-api.rule=Host(`${DOMAIN_BASE}`) && PathPrefix(`/api`)"
      - "traefik.http.middlewares.books-api-strip.stripprefix.prefixes=/api"
      - "traefik.http.routers.books-api.entrypoints=websecure"
      - "traefik.http.routers.books-api.tls.certresolver=letsencrypt"
      - "traefik.http.services.books-api.loadbalancer.server.port=8080"
    restart: unless-stopped

networks:
  web:
    driver: bridge
