services:
  books-api:
    build:
      context: ./apps/books-api
      dockerfile: Dockerfile
    env_file:
      - .env.prod
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy