---
# ---- General ----
k3s_version: v1.30.2+k3s2
ansible_user: root
systemd_dir: /etc/systemd/system
system_timezone: Europe/Berlin

# ---- Network interfaces ----
flannel_iface: wg0
calico_iface: "wg0"
calico_ebpf: false
calico_tag: v3.28.0
cluster_cidr: 10.52.0.0/16

# ---- Kube-VIP and API endpoint ----
apiserver_endpoint: 10.10.0.1

k3s_node_ip: "{{ ansible_facts[(cilium_iface | default(calico_iface | default(flannel_iface)))]['ipv4']['address'] }}"

k3s_master_taint: false

# ---- Extra args to k3s ----
extra_args: "--node-ip={{ k3s_node_ip }}"

# Add --bind-address=0.0.0.0 to listen on all interfaces
extra_server_args: "{{ extra_args }} --bind-address=0.0.0.0 --flannel-backend=none --disable-network-policy --cluster-cidr={{ cluster_cidr }} --tls-san={{ apiserver_endpoint }} --tls-san=127.0.0.1 --disable=servicelb --disable=traefik"

extra_agent_args: "{{ extra_args }} --server=https://{{ apiserver_endpoint }}:6443"

# ---- MetalLB config ----
metal_lb_type: native
metal_lb_mode: layer2
metal_lb_ip_range: 10.10.0.80-10.10.0.90
metal_lb_speaker_tag_version: v0.14.8
metal_lb_controller_tag_version: v0.14.8
cilium_bgp: false
