apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: shelfshare-images
  namespace: flux-system
spec:
  interval: 1m
  sourceRef:
    kind: GitRepository
    name: shelfshare
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        name: FluxCD
        email: fluxcd@shelfshare.local
      messageTemplate: "chore: update images"
    push:
      branch: main
  update:
    strategy: Setters
    path: ./
